[defaults]
inventory = inventory.ini
remote_user = ccianos
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True

[privilege_escalation]
become = False
become_method = sudo
become_user = root
